# ignore lock file created disabling updates
ffg-star-wars-enhancements.lock

# ignore installed dependencies from npm
node_modules

# Ignore VSCode configuration
.vscode/

# Ignore local cypress environment overrides for setting baseUrl
cypress.env.json

# Ignore docker compose environment
secrets.json
docker-compose.override.yaml
/.idea
/packs
