<div class="special-ammo-settings" style="margin-top: 5px;">
    <div class="container flex-group-center weapon-values special">
        <div class="resource single">
            <div class="attribute flex-group-center">
                <div class="block-background">
                    <div class="block-title">{{localize "ffg-star-wars-enhancements.special-ammo.section-title"}}</div>
                    <div class="block-attribute">
                        <div class="block-value block-single">
                            <input class="ranked-toggle" style="text-align: center;" type="checkbox" name="flags.special-ammo.hasSpecialAmmo" data-dtype="Boolean" {{#if hasSpecialAmmo}}checked{{/if}} />
                        </div>
                    </div>
                    {{#if hasSpecialAmmo}}
                    <div class="block-attribute">
                        <div class="block-value block-single">
                            <input type="text" name="flags.special-ammo.ammoFilter" value="{{ammoFilter}}" placeholder="{{localize 'ffg-star-wars-enhancements.special-ammo.ammo-filter-placeholder'}}" style="border: 0; font-size: 14px;" />
                        </div>
                    </div>
                    <div class="block-attribute">
                        <div class="block-value block-single">
                            <select name="flags.special-ammo.selectedAmmo" style="border: 0; font-size: 14px;">
                                <option value="">{{localize "ffg-star-wars-enhancements.special-ammo.none"}}</option>
                                {{#each ammoItems}}
                                <option value="{{this.id}}" {{#if (eq this.id ../selectedAmmo)}}selected{{/if}}>{{this.name}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</div>
