<form>
    <h2>{{localize "ffg-star-wars-enhancements.shop.html.create.title"}}</h2>
    <div class="form-group">
        <label for="actor_name">{{localize "ffg-star-wars-enhancements.shop.html.create.shop-name"}}</label>
        <input id="actor_name" name="actor_name" placeholder="vendor" type="text" value="vendor">
    </div>
    <div class="form-group">
        <label>{{localize "ffg-star-wars-enhancements.shop.html.create.helper"}}</label>
    </div>
    <button class="create" type="submit" value="create"><i class="fas fa-plus"></i>{{localize "ffg-star-wars-enhancements.shop.html.create.button"}}</button>
</form>
