<form autocomplete="off" class="{{cssClass}} character">
    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <div data-actor="{{actor._id}}" id="actor-id" style="display: none;"></div>
        <div class="header-fields">
            {{!-- Character Details Container --}}
            <div class="container" style="flex-wrap: nowrap;">
                <div class="profile-block">
                    <div>
                        <img class="profile-img" data-edit="img" height="100" src="{{actor.img}}" title="{{actor.name}}"
                             width="100"/>
                    </div>
                </div>
                <div class="container">
                    <div class="header-name header-description-block">
                        <div>
                            <h2><input data-dtype="String" name="name" placeholder="{{localize 'SWFFG.Name'}}"
                                       type="text" value="{{actor.name}}"/></h2>
                        </div>
                        <div class="table">
                            <div class="row">
                                <div>{{localize "SWFFG.Species"}}:</div>
                                <div class="row-input">
                                    {{#each actor.items as |item id|}} {{#iff item.type '==' 'species'}}
                                    <div class="species-pill item" data-item-id="{{item._id}}">{{item.name}} <i
                                            class="fas fa-times item-delete"></i></div>
                                    {{/iff}}{{/each}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    {{!-- Sheet Body --}}
    <section class="sheet-body">
        <style>
            .inventory {
                width: 100%;
                height: 100%;
                overflow-y: scroll;
            }

            .vendor_item {
                display: flex;
                justify-content: center;
                height: calc(100% + 3.5rem);
            }
        </style>

        <h2>Store Inventory&nbsp;<a class="refresh"><i class="fas fa-redo"></i></a></h2>
        <div class="inventory">
            <table border="1"  class="vendor_item" >
                <tbody>
                <tr>
                    <td>Image</td>
                    <td>Item</td>
                    <td>Type</td>
                    <td>Price</td>
                    <td>Roll Result</td>
                    <td>Buy Item</td>
                </tr>
                {{#inventory}}
                <tr class="item" data-item-compendium="{{compendium}}" data-item-id="{{id}}" data-item-name="{{name}}" data-item-price="{{price}}" data-item-type="{{flagged}}">
                    <td><img height="64" src="{{image}}" width="128"></td>
                    <td>
                        {{#if restricted}}
                        <i class="fas fa-exclamation-triangle"><font color="8b0000">(R)</font></i>
                        {{/if}}
                        {{#if flagged}}
                        <a class="entity-link" data-id="{{id}}" data-pack="{{compendium}}" draggable="true">
                            {{name}}
                        </a>
                        {{else}}
                        <a class="entity-link" data-entity="Item" data-id="{{id}}" draggable="true">
                            {{name}}
                        </a>
                        {{/if}}
                    </td>
                    <td>{{type}}</td>
                    <td>{{price}}</td>
                    <td>{{{roll}}}</td>
                    <td>
                        <a class="item-buy content"><i class="fas fa-dollar-sign"></i></a>
                    </td>
                </tr>
                {{/inventory}}
                </tbody>
            </table>
        </div>
    </section>
</form>
