<form>
    <h2>Store Setup</h2>
    <div class="form-group">
        <label for="shop_type">Type of shop</label>
        <select id="shop_type" name="shop_type">
            <option selected value="general">general</option>
            <option value="armor">armor</option>
            <option value="gear">gear</option>
            <option value="weapon">weapon</option>
            <option value="nerf_herder">nerf_herder</option>
        </select>
    </div>
    <div class="form-group">
        <label for="min_item_count">Min Items</label>
        <input id="min_item_count" name="min_item_count" placeholder="5" type="text" value="5">
    </div>
    <div class="form-group">
        <label for="max_item_count">Max Items</label>
        <input id="max_item_count" name="max_item_count" placeholder="15" type="text" value="15">
    </div>
    <div class="form-group">
        <label for="shop_location">Location</label>
        <select id="shop_location" name="shop_location">
            <option value="minus_two">Primary Core world</option>
            <option value="minus_one">Other Core world, world on primary trade lane</option>
            <option selected value="no_change">Colony, Inner Rim, or civilized world</option>
            <option value="plus_one">Mid Rim or recently settled world</option>
            <option value="plus_two">Outer Rim or Frontier world</option>
            <option value="plus_three">Wild Space world</option>
            <option value="plus_four">Uncivilized world</option>
        </select>
    </div>
    <div class="form-group">
        <label for="shady">Include Restricted items</label>
        <input id="shady" name="shady" type="checkbox">
    </div>
    <div class="form-group">
        <label for="shop_actor">Player Character</label>
        <select id="shop_actor" name="shop_actor">
            {{#each actors as |actor|}}
                <option value="{{actor.id}}">{{actor.name}}</option>
            {{/each}}
        </select>
    </div>
    <div class="form-group">
        <label for="shop_base_price">Base Price Percent</label>
        <input id="shop_base_price" name="shop_base_price" placeholder="100" type="text" value="100">
    </div>
    <button class="create" type="submit" value="create"><i class="fas fa-plus"></i>Create Shop</button>
</form>
