<div class="swdatapad-wanted">
    <h1>Bounty Notice</h1>
    <div class="image-float"><img src="../artwork/planet.png" alt="" width="200" height="200" /></div>
    <h2>Luke Skywalker</h2>
    <h3>Bounty</h3>
    <p>10,000 <span class="credits">$</span></p>
    <h3>Wanted</h3>
    <p>Wanted in connection with the destruction of the Death Star.</p>
    <table>
        <tbody>
            <tr>
                <th>Species</th>
                <td>human</td>
                <th>Height</th>
                <td>unknown</td>
            </tr>
            <tr>
                <th>Gender</th>
                <td>male</td>
                <th>Weight</th>
                <td>unknown</td>
            </tr>
            <tr>
                <th>Homeworld</th>
                <td>Tatooine</td>
                <th>Age</th>
                <td>unknown</td>
            </tr>
            <tr>
                <th>Known Associates</th>
                <td colspan="3">Obi-Wan Kenobi</td>
            </tr>
            <tr>
                <th>Classification</th>
                <td colspan="3">Locate and Detain</td>
            </tr>
            <tr>
                <th>Originator</th>
                <td colspan="3">Imperial Garrison, Coruscant</td>
            </tr>
            <tr>
                <th>Receiver</th>
                <td colspan="3">Any Imperial Law Enforcement Office.</td>
            </tr>
            <tr>
                <th>Application Condition</th>
                <td colspan="3">Alive. No payment for dead recovery.</td>
            </tr>
            <tr>
                <th>Bonus</th>
                <td colspan="3">None.</td>
            </tr>
            <tr>
                <th>Determent</th>
                <td colspan="3">Unwarranted loss of life or damage to private property in pursuit of subject shall
                    result in a 50% reduction in posted bounty.</td>
            </tr>
            <tr>
                <th>Last Known Location</th>
                <td colspan="3">Dagobah</td>
            </tr>
        </tbody>
    </table>
</div>