Some <b>ideas</b> for spending results (on a successful attack):<br>
{{#iff advantage '>' 0}}
    [ad] &gt;= critical rating / [tr]:Aapply a critical injury<br>
    [ad]: Recover one strain<br>
    [ad]: +[bo] to <i>next</i> allied character's next check<br>
{{/iff}}
{{#iff advantage '>' 1}}
    [ad][ad]: Perform immediate free maneuver<br>
    [ad][ad]: +[se] to target's next check<br>
    [ad][ad]: + [bo] to <i>any</i> allied character's next check<br>
{{/iff}}
{{#iff advantage '>' 2}}
    [ad][ad][ad]: Negate target's defensive bonuses until next round<br>
    [ad][ad][ad]: Ignore environmental penalty until end of next turn<br>
    [ad][ad][ad]: Target is disabled instead of suffering wounds/strain<br>
    [ad][ad][ad]: +1 melee or ranged defense until end of next round<br>
    [ad][ad][ad]: Target drops weapon they're wielding<br>
{{/iff}}
{{#iff triumph '>' 0}}
    [tr]: Upgrade difficulty of target's next check<br>
    [tr]: Upgrade ability of any allied character's next check<br>
{{/iff}}
{{#iff triumph '>' 1}}
    [tr][tr]: Destroy a piece of equipment carried by target<br>
{{/iff}}
{{#iff despair '>' 0}}
    [de]: Ranged attack hits character engaged with target<br>
    [de]: Ranged weapon runs out of ammo<br>
    [de]: Upgrade difficulty of any allied character's next check<br>
    [de]: Tool / weapon being used is damaged<br>
{{/iff}}
