Some <b>ideas</b> for spending results:
{{#iff advantage '>' 0}}
    [ad] &gt;= critical rating / [tr]: apply a critical injury<br>
    [ad]: Recover one strain<br>
    [ad]: +[bo] to <i>next</i> allied character's next check<br>
{{/iff}}
{{#iff advantage '>' 1}}
    [ad][ad]: Perform immediate free maneuver<br>
    [ad][ad]: +[se] to target's next check<br>
    [ad][ad]: + [bo] to <i>any</i> allied character's next check<br>
{{/iff}}
{{#iff advantage '>' 2}}
[ad][ad][ad]: Negate target's defensive bonuses until next round<br>
[ad][ad][ad]: Ignore environmental penalty until end of next turn<br>
[ad][ad][ad]: Target is disabled instead of suffering wounds/strain<br>
[ad][ad][ad]: +1 melee or ranged defense until end of next round<br>
[ad][ad][ad]: Target drops weapon they're wielding<br>
{{/iff}}
