{{#*inline "settingPartial"}}
<div class="form-group">
    <label>
    {{#iff 'animation' 'in' this.key}}
        {{#iff 'sound' 'not in' this.key}}
            <i class="fas fa-video"></i>
        {{/iff}}
    {{/iff}}
    {{#iff 'sound' 'in' this.key}}
        <i class="fas fa-volume-up"></i>
    {{/iff}}
        &nbsp;{{this.name}}
    </label>
    <div class="form-fields">
    {{#if this.isCheckbox}}
        <input type="checkbox" name="{{this.module}}.{{this.key}}" data-dtype="Boolean" {{checked this.value}}/>

    {{else if this.isSelect}}
        <select name="{{this.module}}.{{this.key}}">
            {{#select this.value}} {{#each this.choices as |name k|}}
            <option value="{{k}}">{{localize name}}</option>
            {{/each}} {{/select}}
        </select>

    {{else if this.isRange}}
        <input data-dtype="Number" max="{{ this.range.max }}" min="{{ this.range.min }}" name="{{this.module}}.{{this.key}}"
               step="{{ this.range.step }}" type="range" value="{{ this.value }}"/>
        <span class="range-value">{{this.value}}</span>

    {{else if this.filePicker}}
        <button class="file-picker" data-target="path" data-type="
        {{~#iff 'animation' 'in' this.key~}}
            {{~#iff 'sound' 'not in' this.key~}}
                video
            {{~/iff~}}
        {{~/iff~}}
        {{~#iff 'sound' 'in' this.key~}}
            audio
        {{~/iff~}}
        {{~#iff 'music' 'in' this.key~}}
            audio
        {{~/iff~}}
        " title="Browse Files" type="button">...</button>
        <input data-dtype="{{this.type}}" name="{{this.module}}.{{this.key}}" type="text" value="{{this.value}}"/>

    {{else}}
        <input data-dtype="{{this.type}}" name="{{this.module}}.{{this.key}}" type="text" value="{{this.value}}"/>
    {{/if}}
    </div>

    <p class="notes">{{this.hint}}</p>
</div>
{{/inline}}

<form autocomplete="off" class="flexcol">
    <section class="content" id="config-tabs">
        <div class="settings-list">
            <h2 class="module-header">{{ localize data.system.title }}</h2>
            {{#each data.system.menus}} {{> menuPartial}} {{/each}} {{#each data.system.settings}} {{> settingPartial}}
            {{else}}
            <p class="notes">{{localize 'SETTINGS.None'}}</p>
            {{/each}}
        </div>
    </section>
    <footer class="sheet-footer flexrow">
        <button name="submit" type="submit"><i class="far fa-save"></i> {{localize 'SETTINGS.Save'}}</button>
        <button name="reset" type="button"><i class="fas fa-undo"></i> {{localize 'SETTINGS.Reset'}}</button>
    </footer>
</form>
