
<h2>Store Inventory</h2>

<table border="1">
<tbody>
<tr>
    <td>Image</td>
    <td>Item</td>
    <td>Type</td>
    <td>Price</td>
    <td>Roll Result</td>
    <!--<td>Action</td>-->
</tr>
{{#inventory}}
<tr>
    <td><img height="64" src="{{item.image}}" width="128"></td>
    <td>
        <a class="entity-link" data-id="{{item.id}}" data-pack="{{item.compendium}}" draggable="true">
            {{item.name}}
        </a>
    </td>
    <td>{{item.type}}</td>
    <td>{{price}}</td>
    <td>{{{roll}}}</td>
    <td>
        <!--
        this section is non-functional as of now
        <select id="shop_actor" name="shop_actor">
            {{#each ../actors}}
                    <option value="{{this.data.id}}">{{this.data.name}}</option>
            {{/each}}
        </select>
        <div class="dialog"><div class="dialog-buttons">
            <button class="dialog-button three" data-button="three"><i class="fas fa-plus"></i>Send</button>
        </div></div>
        -->
    </td>
</tr>
{{/inventory}}
</tbody>
</table>
