<form autocomplete="off" class="{{cssClass}} character" style="width: 400px;">
    <div class="form-group">
        <label for="actor">{{localize "ffg-star-wars-enhancements.attack-animation.custom.actor"}}</label>
        <select id="actor" name="actor">
            {{#each actors as |actor|}}
                <option value="{{actor.id}}">{{actor.name}}</option>
            {{/each}}
        </select>
    </div>
    <button class="create" type="submit" value="create"><i class="fas fa-save"></i>Roll with this actor</button>
</form>

<script>

</script>
