.starwarsffg .settings-list {
    max-height: calc(100vh - 150px);
    overflow-y: auto;
    padding-right: 0.5em;
}

.starwarsffg.ffg-sw-enhanced.vendor .sheet-body {
    height: calc(100% - 11rem) !important;
}

.ffg-sw-enhanced.vendor .inventory {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

.ffg-sw-enhanced.vendor .vendor_item {
    width: 100%;
    height: auto;
    text-align: center;
    vertical-align: middle;
}
